<%= provide(:title, "About") %>

<h1>About</h1>
<p>This is a project that was part of the authentification section of the Ruby on Rails course on <a href="https://www.theodinproject.com/courses/ruby-on-rails/lessons/authentication">The Odin Project</a>.</p>

<p>I have added an admin attribute to the user model and only admins can delete posts. There is also a 250 character size limit for posts. Here is a guest account that you can use to view the logged in layout.</p>
<p>Email: guest@example.com</p>
<p>Password: swordfish</p>

<div class="mylinks">
<ul>
			<li><a href="https://github.com/Jamesredux">My Github</a></li>
			<li><a href="https://www.theodinproject.com/home">The Odin Project</a></li>
		</ul>

</div>		