<%= provide(:title, "About") %>

<h1>About</h1>
<p>This is a project for the odin project in the ruby on rails section and the authentification chapter
link to my github, and the odin project.</p>

<p>Here are some accounts to view the posts. I have added an admin attribute to the user model and only admins can make new posts or
delete users. Here is a quest account that you can use to log in and view who has made the posts.</p>
<p>Email: not@example.com</p>
<p>Password: foobar</p>
