not sure this view is ever used now

<% provide(:title, "Home") %>
<div class="center jumbotron">
<h1>Natter</h1>

  <div class="post-list">
  	<ul class="posts">
  		<%= render link_to "Posts", posts_path  %>
  	</ul>
  </div>

</div>

<%= link_to "Sign up", '#', class: "btn btn-lg btn-primary" %>