
<div class="posts">
<li>
	<div class="titleofpost"><%= post.title %>
		<% if logged_in? %>
		Post made by  <%=  link_to post_author.name,  post_author %>
	<% end %>		
	</div>
	<%= post.body %>
	
	
</li>
</div>

