
<div class="posts">

<p><%= post.body %></p>
<div class="p-author">
	<p class="p-author">
<% if logged_in? %>
	<% post_author(post.user_id) %>
		<span>This post is by:</span>
			<%=  link_to @post_author.name, user_path(@post_author) %>
		<% else %>
		 Log in to view author.
	<% end %>	
	<% if logged_in? && current_user.admin? %>
		| <%= link_to "delete", post, method: :delete,
																	data: { confirm: "Are you sure?" } %>
		<% end %>															
</p>
	</div>

</div>

