<footer class="footer">
	<small>
		What will I put in the footer
	</small>
	<nav>
		<ul>
			<li><%= link_to "My Github", '#' %></li>
			<li><%= link_to "The odin project", '#' %></li>
		</ul>
	</nav>
</footer>