<footer class="footer">
	<small>
		Project made by Jamesredux as part of the odin project.
	</small>
	<nav>
		<ul>
			<li><a href="https://github.com/Jamesredux">My Github</a></li>
			<li><a href="https://www.theodinproject.com/home">The Odin Project</a></li>
		</ul>
	</nav>
</footer>